.col {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.countryinfo:after {
  content: "";
  display: table;
  clear: both;
}
/* wwt.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.wwt-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.wwt-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.wwt-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.wwt-table,.wwt-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.wwt-table-all{border:1px solid #ccc}
.wwt-bordered tr,.wwt-table-all tr{border-bottom:1px solid #ddd}.wwt-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.wwt-table-all tr:nth-child(odd){background-color:#fff}.wwt-table-all tr:nth-child(even){background-color:#f1f1f1}
.wwt-hoverable tbody tr:hover,.wwt-ul.wwt-hoverable li:hover{background-color:#ccc}.wwt-centered tr th,.wwt-centered tr td{text-align:center}
.wwt-table td,.wwt-table th,.wwt-table-all td,.wwt-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.wwt-table th:first-child,.wwt-table td:first-child,.wwt-table-all th:first-child,.wwt-table-all td:first-child{padding-left:16px}
.wwt-btn,.wwt-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.wwt-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.wwt-btn,.wwt-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.wwt-disabled,.wwt-btn:disabled,.wwt-button:disabled{cursor:not-allowed;opacity:0.3}.wwt-disabled *,:disabled *{pointer-events:none}
.wwt-btn.wwt-disabled:hover,.wwt-btn:disabled:hover{box-shadow:none}
.wwt-badge,.wwt-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.wwt-badge{border-radius:50%}
.wwt-ul{list-style-type:none;padding:0;margin:0}.wwt-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.wwt-ul li:last-child{border-bottom:none}
.wwt-tooltip,.wwt-display-container{position:relative}.wwt-tooltip .wwt-text{display:none}.wwt-tooltip:hover .wwt-text{display:inline-block}
.wwt-ripple:active{opacity:0.5}.wwt-ripple{transition:opacity 0s}
.wwt-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.wwt-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.wwt-dropdown-click,.wwt-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.wwt-dropdown-hover:hover .wwt-dropdown-content{display:block}
.wwt-dropdown-hover:first-child,.wwt-dropdown-click:hover{background-color:#ccc;color:#000}
.wwt-dropdown-hover:hover > .wwt-button:first-child,.wwt-dropdown-click:hover > .wwt-button:first-child{background-color:#ccc;color:#000}
.wwt-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.wwt-check,.wwt-radio{width:24px;height:24px;position:relative;top:6px}
.wwt-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.wwt-bar-block .wwt-dropdown-hover,.wwt-bar-block .wwt-dropdown-click{width:100%}
.wwt-bar-block .wwt-dropdown-hover .wwt-dropdown-content,.wwt-bar-block .wwt-dropdown-click .wwt-dropdown-content{min-width:100%}
.wwt-bar-block .wwt-dropdown-hover .wwt-button,.wwt-bar-block .wwt-dropdown-click .wwt-button{width:100%;text-align:left;padding:8px 16px}
.wwt-main,#main{transition:margin-left .4s}
.wwt-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.wwt-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.wwt-bar{width:100%;overflow:hidden}.wwt-center .wwt-bar{display:inline-block;width:auto}
.wwt-bar .wwt-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.wwt-bar .wwt-dropdown-hover,.wwt-bar .wwt-dropdown-click{position:static;float:left}
.wwt-bar .wwt-button{white-space:normal}
.wwt-bar-block .wwt-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.wwt-bar-block.wwt-center .wwt-bar-item{text-align:center}.wwt-block{display:block;width:100%}
.wwt-responsive{display:block;overflow-x:auto}
.wwt-container:after,.wwt-container:before,.wwt-panel:after,.wwt-panel:before,.wwt-row:after,.wwt-row:before,.wwt-row-padding:after,.wwt-row-padding:before,
.wwt-cell-row:before,.wwt-cell-row:after,.wwt-clear:after,.wwt-clear:before,.wwt-bar:before,.wwt-bar:after{content:"";display:table;clear:both}
.wwt-col,.wwt-half,.wwt-third,.wwt-twothird,.wwt-threequarter,.wwt-quarter{float:left;width:100%}
.wwt-col.s1{width:8.33333%}.wwt-col.s2{width:16.66666%}.wwt-col.s3{width:24.99999%}.wwt-col.s4{width:33.33333%}
.wwt-col.s5{width:41.66666%}.wwt-col.s6{width:49.99999%}.wwt-col.s7{width:58.33333%}.wwt-col.s8{width:66.66666%}
.wwt-col.s9{width:74.99999%}.wwt-col.s10{width:83.33333%}.wwt-col.s11{width:91.66666%}.wwt-col.s12{width:99.99999%}
@media (min-width:601px){.wwt-col.m1{width:8.33333%}.wwt-col.m2{width:16.66666%}.wwt-col.m3,.wwt-quarter{width:24.99999%}.wwt-col.m4,.wwt-third{width:33.33333%}
.wwt-col.m5{width:41.66666%}.wwt-col.m6,.wwt-half{width:49.99999%}.wwt-col.m7{width:58.33333%}.wwt-col.m8,.wwt-twothird{width:66.66666%}
.wwt-col.m9,.wwt-threequarter{width:74.99999%}.wwt-col.m10{width:83.33333%}.wwt-col.m11{width:91.66666%}.wwt-col.m12{width:99.99999%}}
@media (min-width:993px){.wwt-col.l1{width:8.33333%}.wwt-col.l2{width:16.66666%}.wwt-col.l3{width:24.99999%}.wwt-col.l4{width:33.33333%}
.wwt-col.l5{width:41.66666%}.wwt-col.l6{width:49.99999%}.wwt-col.l7{width:58.33333%}.wwt-col.l8{width:66.66666%}
.wwt-col.l9{width:74.99999%}.wwt-col.l10{width:83.33333%}.wwt-col.l11{width:91.66666%}.wwt-col.l12{width:99.99999%}}
.wwt-rest{overflow:hidden}.wwt-stretch{margin-left:-16px;margin-right:-16px}
.wwt-content,.wwt-auto{margin-left:auto;margin-right:auto}.wwt-content{max-width:980px}.wwt-auto{max-width:1140px}
.wwt-cell-row{display:table;width:100%}.wwt-cell{display:table-cell}
.wwt-cell-top{vertical-align:top}.wwt-cell-middle{vertical-align:middle}.wwt-cell-bottom{vertical-align:bottom}
.wwt-hide{display:none!important}.wwt-show-block,.wwt-show{display:block!important}.wwt-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.wwt-auto{max-width:95%}}
@media (max-width:600px){.wwt-modal-content{margin:0 10px;width:auto!important}.wwt-modal{padding-top:30px}
.wwt-dropdown-hover.wwt-mobile .wwt-dropdown-content,.wwt-dropdown-click.wwt-mobile .wwt-dropdown-content{position:relative}
.wwt-hide-small{display:none!important}.wwt-mobile{display:block;width:100%!important}.wwt-bar-item.wwt-mobile,.wwt-dropdown-hover.wwt-mobile,.wwt-dropdown-click.wwt-mobile{text-align:center}
.wwt-dropdown-hover.wwt-mobile,.wwt-dropdown-hover.wwt-mobile .wwt-btn,.wwt-dropdown-hover.wwt-mobile .wwt-button,.wwt-dropdown-click.wwt-mobile,.wwt-dropdown-click.wwt-mobile .wwt-btn,.wwt-dropdown-click.wwt-mobile .wwt-button{width:100%}}
@media (max-width:768px){.wwt-modal-content{width:500px}.wwt-modal{padding-top:50px}}
@media (min-width:993px){.wwt-modal-content{width:900px}.wwt-hide-large{display:none!important}.wwt-sidebar.wwt-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.wwt-hide-medium{display:none!important}}
@media (max-width:992px){.wwt-sidebar.wwt-collapse{display:none}.wwt-main{margin-left:0!important;margin-right:0!important}.wwt-auto{max-width:100%}}
.wwt-top,.wwt-bottom{position:fixed;width:100%;z-index:1}.wwt-top{top:0}.wwt-bottom{bottom:0}
.wwt-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.wwt-display-topleft{position:absolute;left:0;top:0}.wwt-display-topright{position:absolute;right:0;top:0}
.wwt-display-bottomleft{position:absolute;left:0;bottom:0}.wwt-display-bottomright{position:absolute;right:0;bottom:0}
.wwt-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.wwt-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.wwt-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.wwt-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.wwt-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.wwt-display-container:hover .wwt-display-hover{display:block}.wwt-display-container:hover span.wwt-display-hover{display:inline-block}.wwt-display-hover{display:none}
.wwt-display-position{position:absolute}
.wwt-circle{border-radius:50%}
.wwt-round-small{border-radius:2px}.wwt-round,.wwt-round-medium{border-radius:4px}.wwt-round-large{border-radius:8px}.wwt-round-xlarge{border-radius:16px}.wwt-round-xxlarge{border-radius:32px}
.wwt-row-padding,.wwt-row-padding>.wwt-half,.wwt-row-padding>.wwt-third,.wwt-row-padding>.wwt-twothird,.wwt-row-padding>.wwt-threequarter,.wwt-row-padding>.wwt-quarter,.wwt-row-padding>.wwt-col{padding:0 8px}
.wwt-container,.wwt-panel{padding:0.01em 16px}.wwt-panel{margin-top:16px;margin-bottom:16px}
.wwt-code,.wwt-codespan{font-family:Consolas,"courier new";font-size:16px}
.wwt-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.wwt-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.wwt-card,.wwt-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.wwt-card-4,.wwt-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.wwt-spin{animation:wwt-spin 2s infinite linear}@keyframes wwt-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.wwt-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.wwt-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.wwt-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.wwt-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.wwt-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.wwt-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.wwt-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.wwt-animate-input{transition:width 0.4s ease-in-out}.wwt-animate-input:focus{width:100%!important}
.wwt-opacity,.wwt-hover-opacity:hover{opacity:0.60}.wwt-opacity-off,.wwt-hover-opacity-off:hover{opacity:1}
.wwt-opacity-max{opacity:0.25}.wwt-opacity-min{opacity:0.75}
.wwt-greyscale-max,.wwt-grayscale-max,.wwt-hover-greyscale:hover,.wwt-hover-grayscale:hover{filter:grayscale(100%)}
.wwt-greyscale,.wwt-grayscale{filter:grayscale(75%)}.wwt-greyscale-min,.wwt-grayscale-min{filter:grayscale(50%)}
.wwt-sepia{filter:sepia(75%)}.wwt-sepia-max,.wwt-hover-sepia:hover{filter:sepia(100%)}.wwt-sepia-min{filter:sepia(50%)}
.wwt-tiny{font-size:10px!important}.wwt-small{font-size:12px!important}.wwt-medium{font-size:15px!important}.wwt-large{font-size:18px!important}
.wwt-xlarge{font-size:24px!important}.wwt-xxlarge{font-size:36px!important}.wwt-xxxlarge{font-size:48px!important}.wwt-jumbo{font-size:64px!important}
.wwt-left-align{text-align:left!important}.wwt-right-align{text-align:right!important}.wwt-justify{text-align:justify!important}.wwt-center{text-align:center!important}
.wwt-border-0{border:0!important}.wwt-border{border:1px solid #ccc!important}
.wwt-border-top{border-top:1px solid #ccc!important}.wwt-border-bottom{border-bottom:1px solid #ccc!important}
.wwt-border-left{border-left:1px solid #ccc!important}.wwt-border-right{border-right:1px solid #ccc!important}
.wwt-topbar{border-top:6px solid #ccc!important}.wwt-bottombar{border-bottom:6px solid #ccc!important}
.wwt-leftbar{border-left:6px solid #ccc!important}.wwt-rightbar{border-right:6px solid #ccc!important}
.wwt-section,.wwt-code{margin-top:16px!important;margin-bottom:16px!important}
.wwt-margin{margin:16px!important}.wwt-margin-top{margin-top:16px!important}.wwt-margin-bottom{margin-bottom:16px!important}
.wwt-margin-left{margin-left:16px!important}.wwt-margin-right{margin-right:16px!important}
.wwt-padding-small{padding:4px 8px!important}.wwt-padding{padding:8px 16px!important}.wwt-padding-large{padding:12px 24px!important}
.wwt-padding-16{padding-top:16px!important;padding-bottom:16px!important}.wwt-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.wwt-padding-32{padding-top:32px!important;padding-bottom:32px!important}.wwt-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.wwt-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.wwt-left{float:left!important}.wwt-right{float:right!important}
.wwt-button:hover{color:#000!important;background-color:#ccc!important}
.wwt-transparent,.wwt-hover-none:hover{background-color:transparent!important}
.wwt-hover-none:hover{box-shadow:none!important}
/* Colors */
.wwt-amber,.wwt-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.wwt-aqua,.wwt-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.wwt-blue,.wwt-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.wwt-light-blue,.wwt-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.wwt-brown,.wwt-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.wwt-cyan,.wwt-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.wwt-blue-grey,.wwt-hover-blue-grey:hover,.wwt-blue-gray,.wwt-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.wwt-green,.wwt-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.wwt-light-green,.wwt-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.wwt-indigo,.wwt-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.wwt-khaki,.wwt-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.wwt-lime,.wwt-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.wwt-orange,.wwt-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.wwt-deep-orange,.wwt-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.wwt-pink,.wwt-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.wwt-purple,.wwt-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.wwt-deep-purple,.wwt-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.wwt-red,.wwt-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.wwt-sand,.wwt-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.wwt-teal,.wwt-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.wwt-yellow,.wwt-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.wwt-white,.wwt-hover-white:hover{color:#000!important;background-color:#fff!important}
.wwt-black,.wwt-hover-black:hover{color:#fff!important;background-color:#000!important}
.wwt-grey,.wwt-hover-grey:hover,.wwt-gray,.wwt-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.wwt-light-grey,.wwt-hover-light-grey:hover,.wwt-light-gray,.wwt-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.wwt-dark-grey,.wwt-hover-dark-grey:hover,.wwt-dark-gray,.wwt-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.wwt-pale-red,.wwt-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.wwt-pale-green,.wwt-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.wwt-pale-yellow,.wwt-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.wwt-pale-blue,.wwt-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.wwt-text-amber,.wwt-hover-text-amber:hover{color:#ffc107!important}
.wwt-text-aqua,.wwt-hover-text-aqua:hover{color:#00ffff!important}
.wwt-text-blue,.wwt-hover-text-blue:hover{color:#2196F3!important}
.wwt-text-light-blue,.wwt-hover-text-light-blue:hover{color:#87CEEB!important}
.wwt-text-brown,.wwt-hover-text-brown:hover{color:#795548!important}
.wwt-text-cyan,.wwt-hover-text-cyan:hover{color:#00bcd4!important}
.wwt-text-blue-grey,.wwt-hover-text-blue-grey:hover,.wwt-text-blue-gray,.wwt-hover-text-blue-gray:hover{color:#607d8b!important}
.wwt-text-green,.wwt-hover-text-green:hover{color:#4CAF50!important}
.wwt-text-light-green,.wwt-hover-text-light-green:hover{color:#8bc34a!important}
.wwt-text-indigo,.wwt-hover-text-indigo:hover{color:#3f51b5!important}
.wwt-text-khaki,.wwt-hover-text-khaki:hover{color:#b4aa50!important}
.wwt-text-lime,.wwt-hover-text-lime:hover{color:#cddc39!important}
.wwt-text-orange,.wwt-hover-text-orange:hover{color:#ff9800!important}
.wwt-text-deep-orange,.wwt-hover-text-deep-orange:hover{color:#ff5722!important}
.wwt-text-pink,.wwt-hover-text-pink:hover{color:#e91e63!important}
.wwt-text-purple,.wwt-hover-text-purple:hover{color:#9c27b0!important}
.wwt-text-deep-purple,.wwt-hover-text-deep-purple:hover{color:#673ab7!important}
.wwt-text-red,.wwt-hover-text-red:hover{color:#f44336!important}
.wwt-text-sand,.wwt-hover-text-sand:hover{color:#fdf5e6!important}
.wwt-text-teal,.wwt-hover-text-teal:hover{color:#009688!important}
.wwt-text-yellow,.wwt-hover-text-yellow:hover{color:#d2be0e!important}
.wwt-text-white,.wwt-hover-text-white:hover{color:#fff!important}
.wwt-text-black,.wwt-hover-text-black:hover{color:#000!important}
.wwt-text-grey,.wwt-hover-text-grey:hover,.wwt-text-gray,.wwt-hover-text-gray:hover{color:#757575!important}
.wwt-text-light-grey,.wwt-hover-text-light-grey:hover,.wwt-text-light-gray,.wwt-hover-text-light-gray:hover{color:#f1f1f1!important}
.wwt-text-dark-grey,.wwt-hover-text-dark-grey:hover,.wwt-text-dark-gray,.wwt-hover-text-dark-gray:hover{color:#3a3a3a!important}
.wwt-border-amber,.wwt-hover-border-amber:hover{border-color:#ffc107!important}
.wwt-border-aqua,.wwt-hover-border-aqua:hover{border-color:#00ffff!important}
.wwt-border-blue,.wwt-hover-border-blue:hover{border-color:#2196F3!important}
.wwt-border-light-blue,.wwt-hover-border-light-blue:hover{border-color:#87CEEB!important}
.wwt-border-brown,.wwt-hover-border-brown:hover{border-color:#795548!important}
.wwt-border-cyan,.wwt-hover-border-cyan:hover{border-color:#00bcd4!important}
.wwt-border-blue-grey,.wwt-hover-border-blue-grey:hover,.wwt-border-blue-gray,.wwt-hover-border-blue-gray:hover{border-color:#607d8b!important}
.wwt-border-green,.wwt-hover-border-green:hover{border-color:#4CAF50!important}
.wwt-border-light-green,.wwt-hover-border-light-green:hover{border-color:#8bc34a!important}
.wwt-border-indigo,.wwt-hover-border-indigo:hover{border-color:#3f51b5!important}
.wwt-border-khaki,.wwt-hover-border-khaki:hover{border-color:#f0e68c!important}
.wwt-border-lime,.wwt-hover-border-lime:hover{border-color:#cddc39!important}
.wwt-border-orange,.wwt-hover-border-orange:hover{border-color:#ff9800!important}
.wwt-border-deep-orange,.wwt-hover-border-deep-orange:hover{border-color:#ff5722!important}
.wwt-border-pink,.wwt-hover-border-pink:hover{border-color:#e91e63!important}
.wwt-border-purple,.wwt-hover-border-purple:hover{border-color:#9c27b0!important}
.wwt-border-deep-purple,.wwt-hover-border-deep-purple:hover{border-color:#673ab7!important}
.wwt-border-red,.wwt-hover-border-red:hover{border-color:#f44336!important}
.wwt-border-sand,.wwt-hover-border-sand:hover{border-color:#fdf5e6!important}
.wwt-border-teal,.wwt-hover-border-teal:hover{border-color:#009688!important}
.wwt-border-yellow,.wwt-hover-border-yellow:hover{border-color:#ffeb3b!important}
.wwt-border-white,.wwt-hover-border-white:hover{border-color:#fff!important}
.wwt-border-black,.wwt-hover-border-black:hover{border-color:#000!important}
.wwt-border-grey,.wwt-hover-border-grey:hover,.wwt-border-gray,.wwt-hover-border-gray:hover{border-color:#9e9e9e!important}
.wwt-border-light-grey,.wwt-hover-border-light-grey:hover,.wwt-border-light-gray,.wwt-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.wwt-border-dark-grey,.wwt-hover-border-dark-grey:hover,.wwt-border-dark-gray,.wwt-hover-border-dark-gray:hover{border-color:#616161!important}
.wwt-border-pale-red,.wwt-hover-border-pale-red:hover{border-color:#ffe7e7!important}.wwt-border-pale-green,.wwt-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.wwt-border-pale-yellow,.wwt-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.wwt-border-pale-blue,.wwt-hover-border-pale-blue:hover{border-color:#e7ffff!important}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
    margin-bottom:30px;
}
/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */
.clearfix {
    *zoom:1 /* for IE */
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* end clearfix*/
.basicinfo {
  margin-left: 15%;
  margin-bottom:30px;
  background-color: cornsilk;
}
.countryinfo{
  background-color: cornsilk;
}
.heading2 {
  text-align: center;
  background-color: lightgreen;
  margin-bottom: 30px;
}
.captions {
  text-align: center;
  background-color: cornsilk;
  margin-top: 30px;
  margin-bottom: 0px;
}
